<h1 id="current-status">Current Status</h1>

<p>After months of testing the software with mock data and receiving very positive feedback from users, it’s ready for a pilot with real patients. We suggest a pilot that lasts three to four weeks and involves several dozen patients. Start with three organizations (likely the RCHD Resource Centers, Daily Planet, and Access Now) to test the chain of referrals from an entry point to primary care to specialty care.</p>

<img src="/img/eoyr/network2.png">

<p>Ideally, Quickscreen would be maintained and developed further by a digital agency with experience not only engineering web applications, but also driving design with user research. A “project owner”, ideally an organization already involved in safety-net healthcare, would handle the contract with the developer and maintain communication with the other organizations in the network. We’re currently exploring options for each of these roles, as well as potential funding sources.</p>

<h1 id="recommendations">Recommendations & Future Work</h1>

<p>As our partners in Richmond continue to develop this work, we offer the following recommendations.</p>

<ul>
  <li>The application will be most useful if it’s heavily used across organizations and contains a great deal of data, so invest in promoting the app up front, but also emphasize the features that are useful to early adopters before the “network effect” takes hold, such as the eligibility estimates and prescreening.</li>
  <li>Process change is as important as the technical work.</li>
  <li>Make sure that there is a clear process for updating organization information and adding new organizations, and that there is a clear point person for users to go to with questions or problems.</li>
  <li>Continued development will make the software more useful. Emphasize user research and testing early and often during this process. When hiring someone to do this work, user research skill is as important as technical skill.</li>
  <li>We’ve documented potential features that we discussed or that users requested <a href="https://docs.google.com/document/d/1gvd_3RzQktLbnUEAsH7a3hnWrkI6mH1B6eN57D4ZNUA/edit?usp=sharing" target="_blank">here</a>.</li>
  <li>To gauge impact and prioritize future work, track  metrics like number of users, frequency of use, number of referrals/screening results, time to care, patient satisfaction, or staff time required to screen a patient or send a referral.</li>
  <li>With adjustments to the organization and screening criteria data, the application could easily be deployed in other communities. </li>
  <li>Continue to conduct user research to find opportunities for similar projects in the future.</li>
</ul>