<div class="row">
      <div class="block-3 block-padding">
            <img class="quickscreen-icon" src="/img/eoyr/proj_computer.svg">
            <p><strong>Online applications</strong><br>
            Patient profiles contain the information currently collected on paper forms, and allow users to upload images of documents like pay stubs.
            </p>
      </div>

      <div class="block-3 block-padding">
            <img class="quickscreen-icon" src="/img/eoyr/proj_eligibility.svg">
            <p><strong>Eligibility estimates</strong><br>
            We use each organization’s eligibility criteria to estimate whether the patient is likely to be eligible for care at each one, and where he might fall on a sliding scale.</p>
      </div>

      <div class="block-3 block-padding">
            <img class="quickscreen-icon" src="/img/eoyr/proj_prescreen.svg">
            <p><strong>Pre-screening</strong><br>
            The pre-screening tool allows patients to answer the most basic eligibility questions and tells them where they’re likely to qualify for services. It can help the patient figure out whether it’s worth the time to fill out a complete application.</p>
      </div>

      <div class="block-3 block-padding">
            <img class="quickscreen-icon" src="/img/eoyr/proj_share.svg">
            <p><strong>Share screening data</strong><br>
            With the patient’s permission, their information is shared with other organizations in the network so she doesn’t have to provide it repeatedly.</p>
      </div>
</div>
<div class="row">
      <div class="block-3 block-padding">
            <img class="quickscreen-icon" src="/img/eoyr/proj_history.svg">
            <p><strong>Track referrals and screening results over time</strong><br>
            This view allows users to see any past referrals or screening results for a patient.</p>
      </div>

      <div class="block-3 block-padding">
            <img class="quickscreen-icon" src="/img/eoyr/proj_password.svg">
            <p><strong>Varying permission levels</strong><br>
            The application has different permissions for patients (who can see only their own data), staff (who see all patients), and administrators (who can adjust settings for an organization).</p>
      </div>

      <div class="block-3 block-padding">
            <img class="quickscreen-icon" src="/img/eoyr/proj_lock.svg">
            <p><strong>Privacy & HIPAA compliance</strong><br>
            All patients sign a consent form before their information is entered into the application. Code for America, as a non-covered entity, has a Business Associate Agreement with the Richmond City Health District. Covered entity partners sign a Memorandum of Understanding.</p>
      </div>

      <div class="block-3 block-padding">
            <img class="quickscreen-icon" src="/img/eoyr/proj_mobile.svg">
            <p><strong>Mobile-friendly</strong><br>
            The application also works on smartphones or tablets. For example, community health workers could use it while visiting patients in their homes.</p>
      </div>
</div>
<div class="row">
      <div class="block-3 block-padding">
            <img class="quickscreen-icon" src="/img/eoyr/proj_export.svg">
            <p><strong>Export data</strong><br>
            A patient’s information can be exported in PDF or CSV format.</p>
      </div>
      
      <div class="block-3 block-padding">
            <img class="quickscreen-icon" src="/img/eoyr/proj_translation.svg">
            <p><strong>Translations</strong><br>
            The application has a full Spanish version, and technical infrastructure that makes it easy to add other languages later.</p>
      </div>

      
</div>