<section id="personas">
  <div class="row">
    <div class="block-4 block-padding">
      <img class="quickscreen-icon" src="/img/eoyr/persona_screener.svg">
      <h3>Screeners</h3>
      <p>The staff who review applications and determine whether a patient is eligible for care or where she falls on a sliding scale.</p>
    </div>
    <div class="block-4 block-padding">
      <img class="quickscreen-icon" src="/img/eoyr/persona_navigator.svg">
      <h3>Navigators</h3>
      <p>People who aren’t screeners, but help patients apply for health services. They include case managers and community health workers.</p>
    </div>
    <div class="block-4 block-padding">
      <img class="quickscreen-icon" src="/img/eoyr/persona_admin.svg">
      <h3>Administrators</h3>
      <p>The leadership of the organizations we’re working with. They probably won’t use the application frequently themselves, but they can give us feedback on whether the application fits their organization’s larger goals and meets their funders’ requirements.</p>
    </div>
  </div>
</section>