<section class="cf" id="redundantScreenings">
  <div class="brick-bar-positioner">
  <div class="brick-bar"></div>
  </div>
  <div class="brick quarter next">
    <div class="brick-number"><div class="number-inner">1</div></div>
    <h4 class="brick-title"><span>RCHD Resource Center</span> Income screening for a pap smear</h4>
    <p class="brick-description">
Nurses at the Richmond City Health District Resource Centers offer pap smears and other basic services for a sliding scale fee. Patients must submit proof of income to be eligible for lower fees. If an uninsured patient has no doctor, the patient might also be referred to Daily Planet.
    </p>
  </div>
  <div class="brick quarter next">
    <div class="brick-number"><div class="number-inner">2</div></div>
    <h4 class="brick-title"><span>Daily Planet</span> Income screening for primary care</h4>
    <p class="brick-description">
Daily Planet screens new patients to determine a sliding scale fee for services. At Daily Planet, an uninsured patient can access oral and eye care, as well as primary care. For specialty referrals, such as orthopedic surgery, a patient would be referred to Access Now.
    </p>
  </div>
  <div class="brick quarter next">
    <div class="brick-number"><div class="number-inner">3</div></div>
    <h4 class="brick-title"><span>Access Now</span> Income screening for an orthopedist</h4>
    <p class="brick-description">
Access Now maintains a network of volunteer physicians who offer specialty care for the uninsured, such as orthopedists, gynecologists, and gastroenterologists. Before connecting patients with these physicians, Access Now requires screening to verify that the patient is uninsured and low-income.
    </p>
  </div>
  <div class="brick quarter">
    <div class="brick-number"><div class="number-inner">4</div></div>
    <h4 class="brick-title"><span>Bon Secours</span> Income screening after a CT scan</h4>
    <p class="brick-description">
If the specialty care requires using hospital facilities for surgery, CT scans, or MRIs, the hospital will screen the patient once again for Medicaid, Medicare, and the hospital’s own charity care programs.
    </p>
  </div>
</section>