<h1>Research</h1>

<p>A key part of Code for America’s approach is building <em>with</em> communities, not <em>for</em> them. In February, we talked with over a hundred people, including clinicians, social workers, community health workers, hospital and clinic administrators, technical staff at Richmond City Health District and the City of Richmond, academics, leaders at health-related nonprofits, and community members who use safety-net health services. We asked them about their experiences with safety-net healthcare in Richmond, their hopes and challenges, and how technology helps or hinders them.</p>

<p>Several themes emerged, which we discussed in our <a href="http://rva.codeforamerica.org/february/index.html">February blog post</a>.</p>

<ul>
  <li>It’s hard to keep track of all the available services, hard to figure out what you’re eligible for, and hard to apply.</li>
  <li>Appointment scheduling is complicated.</li>
  <li>Mental health is fundamental, but care is often difficult to access.</li>
  <li>For some, the ER is a better option than primary care.</li>
  <li>Service providers struggle to communicate with each other efficiently.</li>
  <li>Richmond’s community health advocate program has huge potential.</li>
</ul>

<p>We decided to focus on eligibility screening for several reasons:</p>

<ul>
  <li>Consistent feedback from patients, service providers, and navigators that a web application aimed at this process could help people get medical care faster and improve their experience with the health system.</li>
  <li>We haven’t found existing software that serves this purpose.</li>
  <li>The size of the project made it feasible for three people to build an alpha-stage product in under a year.</li>
</ul>

<p>Other projects that we prototyped but didn’t fully develop include:</p>
