<section class="team">
    <h1 style="margin-bottom: 2em;">The Team</h1>
    <div class="teammate">
        <div class="teammate-inner"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAJRAAAAJDRhOTRlZDAxLTk1MTAtNGMxNS1iMGViLTUyZDNiYmIxOTQ1YQ.jpg"></div>
        <p><strong>Andreas Addison</strong><br>Civic Innovator<br><em>City of Richmond</em></p>
    </div>
    <div class="teammate">
        <div class="teammate-inner"><img src="https://media.licdn.com/media/p/2/000/05d/362/0d5b332.jpg"></div>
        <p><strong>Danny Avula</strong><br>Deputy Director<br><em>Richmond City Health District</em></p>
    </div>
    <div class="teammate">
        <div class="teammate-inner"><img src="http://www.codeforamerica.org/media/images/people/ben-golder.jpg"></div>
        <p><strong>Ben Golder</strong><br>Fellow<br><em>Designer</em></p>
    </div>
    <div class="teammate">
        <div class="teammate-inner"><img src="http://www.codeforamerica.org/media/images/people/sam-matthews.jpg"></div>
        <p><strong>Sam Matthews</strong><br>Fellow<br><em>Web Developer</em></p>
    </div>
    <div class="teammate">
        <div class="teammate-inner"><img src="http://www.codeforamerica.org/media/images/people/emma-smithayer.jpg"></div>
        <p><strong>Emma Smithayer</strong><br>Fellow<br><em>Software Engineer</em></p>
    </div>

    {% include eoyr/partners.html %}
</section>