<ol class="toc">    
    <li><a href="#hello">Summary</a></li>
    <li><a href="#team">The Team</a></li>
    <li><a href="#research">Research</a></li>
    <li><a href="#projects">Projects</a>
        <ol>
            <li><a href="#projects">Searchable Service List</a></li>
            <li><a href="#fplapi">FPL API</a></li>
            <li><a href="#frontapp">Installing FrontApp</a></li>
        </ol>
    </li>
    <li><a href="#qs">Quickscreen</a>
        <ol>
            <li><a href="#qs-background">Background</a></li>
            <li><a href="#qs-goals">Goals</a></li>
            <li><a href="#qs-application">Application</a></li>
            <li><a href="#qs-lessons">Lessons</a></li>
            <li><a href="#qs-feedback">Results</a></li>
        </ol>
    </li>
    <li><a href="#current-status">Conclusions</a>
        <ol>
            <li><a href="#current-status">Current Status</a></li>
            <li><a href="#recommendations">Recommendations &<br>Future Work</a></li>
            <li><a href="#thanks">Thanks</a></li>
        </ol>
    </li>
</ol>