<ol class="toc">    
    <li>Team
        <ol>
            <li>Fellows</li>
            <li>City</li>
            <li>Partners</li>
        </ol>
    </li>
    <li>Executive Summary</li>
    <li>Introduction
        <ol>
            <li>Focus Area</li>
            <li>Background</li>
        </ol>
    </li>
    <li>Research</li>
    <li>Quickscreen
        <ol>
            <li>Background</li>
            <li>Goals</li>
            <li>Application</li>
            <li>Lessons</li>
            <li>Results</li>
            <li>User Stories</li>
        </ol>
    </li>
    <li>Brigade blurb (sidebar?)</li>
    <li>Conclusions
        <ol>
            <li>Current Status</li>
            <li>Recommendations &<br>Future Work</li>
            <li>Lessons Learned</li>
            <li>Thanks</li>
        </ol>
    </li>
</ol>