<div class="projects">

  <div class="container">
    <span class="float-right"><a class="project-link" href="http://search.rvahealth.org"><i class="fa fa-link"></i> search.rvahealth.org</a></span>
    <h2 class="project-title">Searchable service list</h2>
  </div>
  <div class="project">
      <div class="container">

        <p>The single most requested tool in our February meetings was an up-to-date, searchable list of all available services for low-income people in Richmond. Because services change so quickly, existing resources like the statewide 211 system tend to have incomplete or out of date information. Some case managers we met curated their own lists, but those aren’t publicly available.</p>

        <img src="/img/eoyr/services-directory.png" class="right">

        <p>Amber Haley and her team at the Center on Society and Health at VCU maintain a detailed Google Spreadsheet of resources in the city that includes services offered, contact information, and hours of operation. In March, we developed a searchable web-based list of services in Richmond that uses Amber’s spreadsheet as the database. This means that when she updates the spreadsheet, it automatically updates the website as well--no need to enter data into a separate system!</p>

        <p>However, there are quite a few existing companies and nonprofits hard at work on this problem, and we thought we were unlikely to add much value. The last thing we wanted to do was create another out of date list of resources (see this comic).</p>
      </div>
  
  </div>
  
  <div class="container">
    <span class="float-right"><a class="project-link" href="http://fplapi.herokuapp.com/"><i class="fa fa-link"></i> fplapi.herokuapp.com</a></span>
    <h2 class="project-title">Federal Poverty Level API</h2>
  </div>
  <div class="project">
    
    <div class="container">
      <p>Since a patient’s eligibility is largely determined by his income as a percentage of the Federal Poverty Level, our projects require calculating this number from the patient’s income and household size. The government adjusts the FPL formula annually, which means any software that does this calculation has to be updated accordingly. To make this easier, we built the FPL API, which offloads the calculations to a single location that can be used by an unlimited number of projects. The code is open-source, so anyone can use it for their own application. We used this to build a lightweight calculator that staff can use to determine where a patient falls on the Virginia Department of Health’s sliding fee scale.</p>
    </div>

  </div>

  <div class="container">
    <span class="float-right"><a class="project-link" href="https://frontapp.com/"><i class="fa fa-link"></i> frontapp.com</a></span>
    <h2 class="project-title">Installing FrontApp</h2>
  </div>
  <div class="project">    

    <div class="container">
      <p>Community health workers in Richmond told us that texting is a convenient way for clients to ask them questions, but they don’t use it much because giving out their personal phone numbers would mean receiving large numbers of texts at all hours. As an experiment, we set up a third party web application called FrontApp for one CHW, Shikita. It allows her to send and receive texts on Front’s website instead of her phone. The software also lets her set up auto-replies when she’s out of the office and easily copy-paste answers to common questions. If multiple CHWs are working together, they could give clients a single number and use Front to assign texts to the most appropriate staff member.</p>
    </div>

  </div>

</div>

