<section id="partners">
  <h3>Partners</h3>

  <ul>
      <li><a target="_blank" href="http://hso.bonsecours.com/">Bon Secours</a></li>
      <li><a target="_blank" href="http://rmhfoundation.org/">Richmond Memorial Health Foundation</a></li>
      <li><a target="_blank" href="http://www.vcuhealth.org/">VCU Health Systems</a></li>
      <li><a target="_blank" href="http://www.tcfrichmond.org/learn/supporting-foundations/jenkins-foundation">Jenkins Foundation</a></li>
      <li><a target="_blank" href="http://www.tcfrichmond.org/">The Community Foundation Serving Richmond and Central Virginia</a></li>
  </ul>
</section>