html { font-size:18px; }
body {
  margin:0;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif;
  color:#444;
  background-color:#f6f6f6;
  line-height:1.7rem;
  font-weight:300;
}
.container {
  max-width:45rem;
  padding:0 1rem;
  margin:auto;
}
h1 {
  font-weight:900;
  line-height:1.2em;
}
p, h2 { max-width:30rem; }
p strong { font-weight:600; }
aside,
figure {
  font-size:.75rem;
  font-weight:400;
  line-height:1.1rem;
  font-style:italic;
  color:#555;
}
figure { margin:0; }
blockquote {
  background-color:#f1f1f1;
  padding:1.5rem 1rem;
  margin:0;
  font-size:1.5em;
  font-weight:300;
  line-height:1.2em;
  font-style:italic;
}
img {
  height:auto;
  width:100%;
}
a {
  text-decoration: none;
  border-bottom:1px solid #c0c0c0;
  font-weight:300;
  color:#999;
}

@media (min-width:960px) {
  html { font-size:20px; }
  blockquote {
    display:block;
    margin:auto;
    max-width:45rem;
  }
  .container figure {
    max-width:30rem;
    float:right;
    margin-left:.8rem;
  }
  figure,
  aside {
    text-align:right;
  }
  aside {
    width:14rem;
    float:right;
  }
  aside img,
  figure img { 
    /*width:100%;*/
    margin-bottom:.3rem;
  }
}

footer {
  background-color:#333;
  padding:2em 0;
}
footer p {
  color:white;
  font-size:.9rem;
  margin:0;
  line-height:1.15em;
}
