html { font-size:18px; }
body {
  margin:0;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif;
  color:#444;
  background-color:#f6f6f6;
  line-height:1.7rem;
  font-weight:300;
}
button {
  background:transparent;
  border:none;
  font-family: 'Source Sans Pro', sans-serif;
}
.container {
  max-width:45rem;
  padding:0 1rem;
  margin:auto;
}
.home { margin-top:4em; }
.home p {
  line-height:1.35em;
  max-width:25rem;
}
h1 {
  font-weight:900;
  line-height:1.2em;
}
p, h2 { max-width:30rem; }
p strong { font-weight:600; }
aside,
figure {
  font-size:.75rem;
  font-weight:400;
  line-height:1.1rem;
  font-style:italic;
  color:#555;
  margin:0;
}
blockquote {
  background-color:#f1f1f1;
  padding:1.5rem 1rem;
  margin:0;
  font-size:1.5em;
  font-weight:300;
  line-height:1.2em;
  font-style:italic;
}
img {
  height:auto;
  width:100%;
}
a {
  text-decoration: none;
  border-bottom:1px solid #399fd3;
  font-weight:300;
  color:#399fd3;
}

@media (min-width:960px) {
  html { font-size:20px; }
  blockquote {
    display:block;
    margin:auto;
    max-width:45rem;
  }
  .container figure {
    max-width:30rem;
    float:right;
    margin-left:.8rem;
  }
  figure,
  aside {
    text-align:right;
  }
  aside {
    width:14rem;
    float:right;
  }
  aside img,
  figure img { 
    margin-bottom:.3rem;
  }
}

.numbertable td {
  font-weight: 300;
  font-size: 18px;
  padding: 5px;
  vertical-align: top;
}
.numbertable td:first-child {
  align: center;
  font-weight: 600;
  font-size: 24px;
  color: #cf1b41;
}

footer {
  background-color:#333;
  padding:2em 0;
}
footer p {
  color:white;
  font-size:.9rem;
  margin:0;
  line-height:1.15em;
}

nav {
  position:absolute;
  top:20px;
  left:20px;
  font-size:2.5em;
}
nav a { 
  color:white;
  border:none;
  text-shadow:1px 1px 2px rgba(0,0,0,0.4);
}
#logo {
  max-width:100px;
  position:absolute;
  top:10px;
  right:10px;
}

.mailchimp-signup-button {
  color:#cf1b41;
  border-radius:3px;
  font-size:.7em;
  letter-spacing: .1em;
  padding-left:1em;
  margin-top:-20px;
  text-transform:uppercase;
  font-weight:500;
  cursor:pointer;
}
#email-signup {
  position:absolute;
  display:none;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.4);
}
#email-signup.show {
  display:table;
}
#email-inner {
  display:table-cell;
  vertical-align: middle;
  width:200px;
  height:200px;
}
#email-form-container {
  max-width:500px;
  background:white;
  display:block;
  margin:auto;
  box-shadow:0 0 5px 0 rgba(0,0,0,0.5);
  position:relative;
}
#email-close {
  position:absolute;
  top:-30px;
  font-size:.8em;
  right:0;
  color:white;
  cursor:pointer;
}
#mc_embed_signup {
  padding:1em 1em .5em;
}
.mc-field-group label,
.mc-field-group input {
  display:block;
  width:100%;
}
.mc-field-group label {
  font-size:.8em;
}
.mc-field-group input {
  padding:.5em;
  font-size:.8em;
}
#mc-embedded-subscribe {
  background:#cf1b41;
  color:#f6f6f6;
  margin-top:1em;
  padding:.4em 1em;
  font-size:.8em;
  text-transform:uppercase;
  letter-spacing: .1em;
  cursor:pointer;
  border:none;
  font-family: 'Source Sans Pro', sans-serif;
}

/* these styles are used only for printing */
@media print {
  html,
  .numbertable td,
  .numbertable td:first-child { font-size:14px; }
  body { 
    background-color:white;
    line-height:1.4rem;
  }
  h1 { margin-top:30px; }
  p { max-width:40rem; }
  h2 { font-size:1.1rem; }
  figure, aside, nav, img { display:none; }
  footer { background-color:white; }
  footer p { color:black; }
}