html { font-size:18px; }
body {
  margin:0 0 5em;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif;
  color:#444;
  background-color:#f6f6f6;
  line-height:1.7rem;
  font-weight:300;
}
.container {
  max-width:45rem;
  padding:0 1rem;
  margin:auto;
}
h1 {
  font-weight:900;
  line-height:1.2em;
}
p, h2 { max-width:30rem; }
p strong { font-weight:600; }
aside {
  font-size:.8em;
  line-height:1.3em;
  font-weight:600;
}
blockquote {
  background-color:#f1f1f1;
  padding:1.5rem 1rem;
  margin:0;
  font-size:1.5em;
  font-weight:300;
  font-style:italic;
  line-height:1.2em;
}
img {
  height:auto;
  width:100%;
}
a {
  text-decoration: none;
  border-bottom:1px solid #c0c0c0;
  font-weight:300;
  color:#999;
}

@media (min-width:960px) {
  html { font-size:20px; }
  blockquote {
    display:block;
    margin:auto;
    max-width:45rem;
  }
  .container img {
    max-width:30rem;
    float:right;
    margin-left:.8rem;
  }
  aside {
    width:14rem;
    float:right;
  }
  aside img { margin-bottom:.7rem; }
}