<html lang="en">
  {% include head.html %}
  <body>

    <!-- navigation -->
    <nav>
      <a href="/">&#10094;</a>
    </nav>
    <a href="http://codeforamerica.org"><img src="/img/CfA-Logo-White.png" id="logo"></a>
    <!-- /navigation -->

    <!-- header image -->
    <img src="/img/{{ page.header_img }}">
    <!-- /header image -->

    <!-- page content -->
    {{ page.content }}
    <!-- /page content -->
    
    <!-- footer -->
    {% include footer.html %}
    <!-- /footer -->

    <!-- mailchimp signup -->
    {% include mailchimp.html %}
    <!-- /mailchimp signup -->
  </body>
</html>