---
title: End of Year Report
weight: 6
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RVA | End of Year Report</title>
    {% include favicon.html %}
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/eoyr.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/blocks.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <h1 id="main-title"><span>Team RVA</span></h1>
            {% include eoyr_toc.html %}
        </div>
    </header>
    <div class="container">

        {% include eoyr_executiveSummary.html %}
        
    </div>

    <hr>

    <div class="container">

        <!-- <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        <span>~ Thomas Jefferson</span>
        </blockquote> -->

        {% include eoyr_team.html %}
        {% include eoyr_partners.html %}
    </div>

    <hr>

    <div class="container">

        {% include eoyr_research.html %}

    </div>

    {% include eoyr_projects.html %}

    {% include eoyr_quickscreen.html %}

    <div class="container">

        {% include eoyr_conclusion.html %}

        <img src="/img/eoyr/danny-presentation.jpg">

        {% include eoyr_thanks.html %}
        
    </div>

    <!-- <img src="/img/eoyr/codeacross.jpg"> -->

    <div class="container">
        
    </div>
</body>
</html>
